[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "bayfoxr"]
	path = bayfoxr
	url = https://github.com/brews/bayfoxr
	shallow = true
	registered = true
